[submodule "Adafruit_9DOF"]
	path = Adafruit_9DOF
	url = https://github.com/adafruit/Adafruit_9DOF
[submodule "dependencies/Adafruit_9DOF"]
	path = dependencies/Adafruit_9DOF
	url = https://github.com/adafruit/Adafruit_9DOF
[submodule "dependencies/Adafruit_L3GD20_U"]
	path = dependencies/Adafruit_L3GD20_U
	url = https://github.com/adafruit/Adafruit_L3GD20_U
[submodule "dependencies/Adafruit_LSM303DLHC"]
	path = dependencies/Adafruit_LSM303DLHC
	url = https://github.com/adafruit/Adafruit_LSM303DLHC
[submodule "dependencies/Adafruit_Sensor"]
	path = dependencies/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
[submodule "dependencies/Filters"]
	path = dependencies/Filters
	url = git@github.com:JonHub/Filters.git
[submodule "dependencies/Adafruit_FXAS21002C"]
	path = dependencies/Adafruit_FXAS21002C
	url = git@github.com:adafruit/Adafruit_FXAS21002C.git
[submodule "dependencies/Adafruit_FXOS8700"]
	path = dependencies/Adafruit_FXOS8700
	url = git@github.com:adafruit/Adafruit_FXOS8700.git
[submodule "dependencies/Adafruit_AHRS"]
	path = dependencies/Adafruit_AHRS
	url = git@github.com:adafruit/Adafruit_AHRS.git
